#receiptPreview{
  max-width:100px;
  max-height:100px;
  display:none;
  margin-top:8px;
  border-radius:8px;
}
.entry img{
  max-width:60px;
  max-height:60px;
  margin-left:8px;
  border-radius:6px;
  vertical-align:middle;
}
